@page
@model IndexModel
@{
    Layout = "_Layout";
}
<div class="page-header">
    <div class="container">
    <div class="row align-items-center text-left">
        <div class="col-lg-5 col-12">
            <h1 class="display-3">FiyiStack<span class="text-primary">The C# low-code generator</span></h1>
            <p class="lead pb-4">Design a database diagram and turn it into ready-to-run code</p>
            <a href="/LearnMore" class="btn btn-outline-primary">Learn more</a>        
        </div>
        <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0bmjrK2nX9M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    </div>
</div>
<div class="cd-section" id="features">
    <div class="section features-2">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 col-md-8 mr-auto text-left">
              <div class="pr-md-5">
                <div class="mb-5">
                  <img class="ml-lg-5" src="/img/FiyiStack/FiyiStackImageTransparent.png" width="80">
                </div>
                <h3>Awesome features</h3>
                <p class="lead">FiyiStack is an application generator capable of generating ~5,000 lines of code
                    for each table in a database. It is fast, easy to use and has extensive developer support.</p>
                <ul class="list-unstyled mt-5">
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="fas fa-check"></i>
                        </div>
                      </div>
                      <div>
                        <h6 class="mb-0">+30 years of web development experience poured into this generator.</h6>
                      </div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="fas fa-check"></i>
                        </div>
                      </div>
                      <div>
                        <h6 class="mb-0">Generates with the latest technologies in software development. Clean and safe code.</h6>
                      </div>
                    </div>
                  </li>
                </ul>
                <a href="/LearnMore" class="btn btn-outline-primary mt-3">Learn more</a>
              </div>
            </div>
            <div class="col-lg-7 col-md-12 pl-md-0">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-info shadow">
                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                      <i class="fas fa-check text-info"></i>
                    </div>
                    <h5 class="info-title text-white">11 layers</h5>
                    <p class="description">FiyiStack generates 11 layers of a web application. 
                        Tables, Stored procedures, 2x Models, Services, Protocols/Interfaces,
                        Web API's, Filters, DOM manipulators and 2x Pages
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-danger info-raised shadow">
                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                      <i class="fas fa-check text-danger"></i>
                    </div>
                    <h5 class="info-title text-white">3 big layers</h5>
                    <p class="description">FiyiStack generates the 3 necessary layers of an application. 
                        Database, back-end and front-end
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-default shadow">
                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                      <i class="fas fa-check text-default"></i>
                    </div>
                    <h5 class="info-title text-white">5 developer applications</h5>
                    <p class="description">FiyiStack works with 5 developer-oriented applications. 
                        Google Chrome, Microsoft Visual Studio, Powershell, Postman, and Microsoft SQL Server Management Studio
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-primary shadow">
                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                      <i class="fas fa-check text-primary"></i>
                    </div>
                    <h5 class="info-title text-white">6 languages</h5>
                    <p class="description">FiyiStack generates code written in 6 different languages. 
                        HTML, CSS, JavaScript, TypeScript, C# and T-SQL.
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-warning info-raised shadow">
                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                      <i class="fas fa-check text-warning"></i>
                    </div>
                    <h5 class="info-title text-white">+14 libraries and dependencies</h5>
                    <p class="description">FiyiStack works together with more than 14 libraries and dependencies
                        which work as modules that contribute to the application.
                        Among them are Argon (from Creative-Tim), RxJS, Webpack, Bootstrap, jQuery, 
                        Dapper, Quill, ClosedXML, CsvHelper, IronPDF and more
                    </p>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="info text-left bg-success shadow">
                    <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                      <i class="fas fa-check text-success"></i>
                    </div>
                    <h5 class="info-title text-white">3 conversion types</h5>
                    <p class="description">FiyiStack allows you to convert your saved data
                        into Excel, PDF and CSV files
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section features-3 my-5" style="background-image: url('./assets/img/ill/p31.svg')">
        <div class="container">
          <div class="row text-center justify-content-center">
            <div class="col-lg-8">
              <h3 class="display-3 text-white">Build something great<span class="text-success"> with our FiyiStack</span></h3>
              <p class="lead text-white">TAKE THE CHANCE</p>
              <p class="lead text-white">Send us your DB diagram and we will convert it to a FiyiStack project.</p>
              <a class="btn btn-outline-success" href="~/en/SendUsDBDiagram"><i class="fas fa-upload"></i> Upload</a>  
          </div>
          </div>
        </div>
      </div>
</div>
<script src="/js/BasicCore/jquery-3.6.1.min.js"></script>
<script src="/js/FiyiStack/Index.js"></script>