@page "/es/Database"
@model FiyiStackWeb.Areas.FiyiStack.Pages.es.EsDatabaseModel
@{
    Layout = "_EsLayout";
}
<div class="page-header">
    <div class="container">
    <div class="row align-items-center text-left">
        <div class="col-lg-5 col-12">
            <h1 class="display-3">FiyiStack<span class="text-primary">BASES DE DATOS Microsoft SQL Server</span></h1>
            <p class="lead pb-1">Aprende todo sobre bases de datos Microsoft SQL Server</p>        
            <p class="lead pb-4">Link del video <span class="badge badge-danger">Youtube</span>:</p> <a href="https://youtu.be/1_UeKVLLhI4" target="_blank">https://youtu.be/1_UeKVLLhI4</a>        
        </div>
        <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1_UeKVLLhI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    </div>
</div>
<div class="section features-3 my-5" style="background-image: url('./assets/img/ill/p31.svg')">
        <div class="container">
          <div class="row text-center justify-content-center">
            <div class="col-lg-8">
              <h3 class="display-3 text-white">Aprende a crear bases de datos <span class="text-success"> con SSMS y FiyiStack</span></h3>
              <p class="lead text-white">Aprende a crear bases de datos, crear los procedimientos almacenados basicos de FiyiStack y más.</p>
            </div>
          </div>
          <div class="row row-grid mt-5">
            <div class="col-lg-12">
              <div class="info info-horizontal bg-white">
                <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                  <i class="ni ni-hat-3 text-info"></i>
                </div>
                <div class="description pl-4">
                  <h5 class="title text-info">Pasos a reproducir</h5>
                  <ol>
                      <li>Abrir SQL Server Management Studio y crear una base de datos</li>
                      <li>Copiar los procedimientos almacenados de fiyistack_FiyiRequirements y ejecutarlos en la base datos creada</li>
                      <li>Abrir FiyiStack, crear un proyecto y conectarnos a la base de datos creada</li>
                      <li>¡Listo!</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>