@page "/es/FiyiRequirements"
@model FiyiStackWeb.Areas.FiyiStack.Products.Pages.EsFiyiRequirementsModel
@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row mt-5">
        <!-- Title -->
        <div class="col-lg-8 mx-auto text-center my-5">
            <h3 class="display-4">FiyiRequirements</h3>
            <h5><span class="badge badge-lg badge-success">The example code</span></h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col mr-auto text-left mt-4">
            <div class="card bg-default">
                <div class="card-body">
                    <h5 class="card-title text-white">Table of contents</h5>
                    <div class="row">
                        <div class="col-8">
                            <ol class="text-white">
                                <li class="mt-2"><a class="text-white" href="#1">What is FiyiRequirements?</a></li>
                                <li class="mt-2"><a class="text-white" href="#2">What does FiyiRequirements contain inside?</a></li>
                                <li class="mt-2"><a class="text-white" href="#3">Database schema</a></li>
                                <li class="mt-2"><a class="text-white" href="#4">A CMS inside FiyiRequirements</a></li>
                            </ol>
                        </div>
                        <div class="col-4 d-none d-lg-inline d-xl-inline">
                            <img src="/img/FiyiStack/FiyiStackImageTransparent.png" width="130" alt="Logo" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- What is FiyiRequirements? -->
            <div id="1" class="card bg-default shadow border-0">
                <img src="/img/FiyiStack/IndexFiyiRequirements.png" class="card-img-top">
                <blockquote class="card-blockquote">
                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                        <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                        <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                    </svg>
                    <h4 class="display-4 text-white">What is FiyiRequirements?</h4>
                    <p class="text-italic text-white">
                        FiyiRequirements is a web application made with FiyiStack.
                        It is a web application developed with 
                        <span class="badge badge-success">C# .NET Core 3.1</span>.
                    </p>
                    <p class="text-italic text-white">
                        The application serves as an example of what FiyiStack is capable of generating,
                        and it serves so that your clients can upload their requirements, doubts and
                        queries. It is also composed of a <span class="badge badge-success">CMS</span>
                        (Control Management System) so that you can manage failures, 
                        parameters, users, roles, permissions, requirements, states and assign
                        the requirements to your employees, if you have.
                    </p>
                    <p class="text-italic text-white">
                        It also contains the basic pages of any web application:
                    </p>
                    <ul class="text-white">
                        <li class="mt-2">Login page</li>
                        <li class="mt-2">Page to create an account</li>
                        <li class="mt-2">Password recovery page</li>
                        <li class="mt-2">Page to change password</li>
                    </ul>
                </blockquote>
            </div>
            <!-- What does FiyiRequirements contain inside? -->
            <div id="2" class="card bg-default shadow border-0">
                <img src="/img/FiyiStack/VSFiyiRequirements.png" class="card-img-top">
                <blockquote class="card-blockquote">
                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                        <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                        <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                    </svg>
                    <h4 class="display-4 text-white">What does FiyiRequirements contain inside?</h4>
                    <p class="text-italic text-white">
                        FiyiRequirements was made in Visual Studio. 
                        If you open the solution 
                        <span class="badge badge-success">FiyiRequirements.sln</span> 
                        you will see the screen above. As you can see, the following files and folders 
                        are found:
                    </p>
                    <ul class="text-white">
                        <li class="mt-2"><span class="badge badge-success">Dependencies</span> like 
                            Nuget packages.
                        </li>
                        <li class="mt-2">Folder: <span class="badge badge-success">wwwroot</span>. This
                            is where JavaScript files, TypeScript files, images, and CSS files are stored. 
                            PDF, Excel and CSV files that you generate are also saved. Files uploaded by
                            your users are also saved here.
                        </li>
                        <li class="mt-2">Folder: <span class="badge badge-success">Areas</span>. 
                            In .NET Core 3.1 you can define areas of your application. 
                            For example, FiyiRequirements has the BasicCore, BasicCulture, CMSCore, and 
                            Requirement areas.
                            In these areas, C# files such as Web APIs, services, filters, models, and 
                            interfaces are defined.
                        </li>
                        <li class="mt-2">Folder: <span class="badge badge-success">BDBackups</span>.
                            This folder contains a backup of the FiyiRequirements 
                            database with all the tables and stored procedures.
                        </li>
                        <li class="mt-2">Folder: <span class="badge badge-success">BDScheme</span>. 
                            This folder contains a schematic of the database so that
                            you can guide yourself.
                        </li>
                        <li class="mt-2">Folder: <span class="badge badge-success">JSONScripts</span>. 
                            This folder contains .json files to be able to test the
                            application with Postman.
                        </li>
                        <li class="mt-2">Folder: <span class="badge badge-success">Library</span>. 
                            This folder contains C# libraries to reuse in the application.
                            Libraries contain attribute validators, structures like trees, and graphs.
                            They also contain converters, math library, security library and validators.
                        </li>
                        <li class="mt-2">Folder: <span class="badge badge-success">node_modules</span>.
                            This folder contains all the libraries installed by NPM.
                        </li>
                        <li class="mt-2">Folder: <span class="badge badge-success">Pages</span>. 
                            This folder contains the basic FiyiRequirements pages like
                            the Index page and the Error page. It also contains the commonly used templates.
                        </li>
                        <li class="mt-2">Folder: <span class="badge badge-success">SQLScripts</span>. 
                            This folder contains the SQL scripts generated 
                            by FiyiStack.
                        </li>
                        <li class="mt-2">File: <span class="badge badge-success">package.json</span>. 
                            This file contains the necessary configuration to use
                            NPM in the project. Here the libraries that will later be saved in
                            node_modules are defined.
                        </li>
                        <li class="mt-2">File: <span class="badge badge-success">Startup.cs</span>.
                            This file is in charge of executing the application when 
                            a user logs in. Here basic configurations such as the use of session, 
                            controllers, views and services with their respective interfaces are defined.
                        </li>
                        <li class="mt-2">File: <span class="badge badge-success">tsconfig.json</span>. 
                            This file contains the necessary information for the TypeScript compiler to work.
                        </li>
                        <li class="mt-2">File: <span class="badge badge-success">webpack.config.js</span>. 
                            This file contains the information necessary for the
                            Webpack wrapper to work. For example, TypeScript files are defined with their
                            respective paths for the wrapper to convert into JavaScript.
                        </li>
                    </ul>
                </blockquote>
            </div>
            <!-- Database schema -->
            <div id="3" class="card bg-default shadow border-0">
                <img src="/img/FiyiStack/Scheme.png" class="card-img-top">
                <blockquote class="card-blockquote">
                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                        <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                        <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                    </svg>
                    <h4 class="display-4 text-white">Database schema</h4>
                    <p class="text-italic text-white">
                        These are the areas of the application, there are 4 in total
                    </p>
                    <ul class="text-white">
                        <li class="mt-2"><span class="badge badge-warning">Basic.Core</span>.
                            This area is the most important, here the Failure and Parameter tables
                            are defined. These tables store the crashes generated by the application
                            so that you can review them, and the private parameters of the application
                            such as site mail, passwords and so on.
                        </li>
                        <li class="mt-2"><span class="badge badge-success">Basic.Culture</span>.
                            This area is also important, although not essential. Here the City, Province
                            (State), Country, Planet (joking), and Sex tables are defined.
                        </li>
                        <li class="mt-2"><span class="badge badge-primary">CMS.Core</span>.
                            This area is also important. Here the necessary tables are defined for the CMS
                            to come alive. In these tables the users, roles, permissions and menus are
                            defined.
                        </li>
                        <li class="mt-2"><span class="badge badge-danger">Requirement</span>.
                            This area belongs to application FiyiRequirements. With these tables you can
                            create requirements, add files and notes to the requirements and have a history
                            of changes.
                        </li>
                    </ul>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                        <span class="alert-inner--text">The advantage of defining areas in the 
                            application is that you can reuse areas that are common in every 
                            application like Basic.Core, Basic.Culture and CMS.Core.</span>
                    </div>
                </blockquote>
            </div>
            <!-- A CMS inside FiyiRequirements -->
            <div id="3" class="card bg-default shadow border-0">
                <blockquote class="card-blockquote">
                    <h4 class="display-4 text-white">A CMS inside FiyiRequirements</h4>
                    <p class="text-italic text-white">
                        Due to the CMSCore area, <span class="badge badge-success">FiyiRequirements</span> 
                        <u>contains a CMS inside</u>, but what is a CMS? 
                        A CMS (Content Management System) is an <u>online system capable of managing dynamic 
                        content in a web application</u>, for example a <span class="badge badge-info">blog</span>, 
                        an <span class="badge badge-info">e-commerce</span> or 
                        <span class="badge badge-info">any type of web page</span>. 
                        <u>Management is performed by application administrators, editors, or participants</u>.
                        The system allows <u>independent management of content and design</u>. Thus, it is possible 
                        to manage the content and give a different design to the website at any time without
                        having to format the content again, in addition to allowing <u>easy and controlled 
                        publication</u> on the site to various publishers.
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>