@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a href="/BasicCore/PageFailureQuery">PageFailureQuery</a> <br/>
    <a href="/CMSCore/DashboardIndex">DashboardIndex</a> <br/>
    <a href="/CMSCore/Login">Login</a>
</div>
