@page "/en/Database"
@model FiyiStackWeb.Areas.FiyiStack.Pages.es.DatabaseModel
@{
    Layout = "_Layout";
}
<div class="page-header">
    <div class="container">
    <div class="row align-items-center text-left">
        <div class="col-lg-5 col-12">
            <h1 class="display-3">FiyiStack<span class="text-primary">Microsoft SQL Server DATABASES</span></h1>
            <p class="lead pb-1">Learn all about Microsoft SQL Server</p>        
            <p class="lead pb-4">Link to the <span class="badge badge-danger">Youtube</span> video:</p> <a href="https://youtu.be/1_UeKVLLhI4" target="_blank">https://youtu.be/1_UeKVLLhI4</a>        
        </div>
        <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1_UeKVLLhI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    </div>
</div>
<div class="section features-3 my-5" style="background-image: url('./assets/img/ill/p31.svg')">
        <div class="container">
          <div class="row text-center justify-content-center">
            <div class="col-lg-8">
              <h3 class="display-3 text-white">Learn to create databases <span class="text-success"> with SSMS and FiyiStack</span></h3>
              <p class="lead text-white">Learn how to create databases, create basic FiyiStack stored procedures, and more.</p>
            </div>
          </div>
          <div class="row row-grid mt-5">
            <div class="col-lg-12">
              <div class="info info-horizontal bg-white">
                <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                  <i class="ni ni-hat-3 text-info"></i>
                </div>
                <div class="description pl-4">
                  <h5 class="title text-info">Steps to reproduce</h5>
                  <ol>
                      <li>Open SQL Server Management Studio and create a database</li>
                      <li>Copy the stored procedures located in fiyistack_FiyiRequirements and execute them in the created database</li>
                      <li>Open FiyiStack, create a project and connect to the created database</li>
                      <li>¡Ready!</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>