@page "/en/Database"
@model FiyiStackWeb.Areas.FiyiStack.Pages.es.DatabaseModel
@{
    Layout = "_Layout";
}
<div class="page-header">
    <div class="container">
    <div class="row align-items-center text-left">
        <div class="col-lg-5 col-12">
            <h1 class="display-3">FiyiStack<span class="text-primary">Microsoft SQL Server DATABASES</span></h1>
            <p class="lead pb-1">Learn all about Microsoft SQL Server</p>        
            <p class="lead pb-4">Link to the <span class="badge badge-danger">Youtube</span> video:</p> <a href="https://youtu.be/1_UeKVLLhI4" target="_blank">https://youtu.be/1_UeKVLLhI4</a>        
        </div>
        <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1_UeKVLLhI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    </div>
</div>