@page "/en/Downloads"
@model FiyiStackWeb.Areas.FiyiStack.Pages.DownloadsModel
@{
    Layout = "_Layout";
}
<div class="page-header mt-4">
    <div class="container">
        <div class="row align-items-center text-left">
            <div class="col-lg-5 col-12">
                <h1 class="display-3">FiyiStack<span class="text-primary">The C# low-code generator v.4.1</span></h1>
                <a href="/Downloads/FiyiStack-v.4.1.zip" download class="btn btn-success btn-icon mb-sm-0">
                    <span class="btn-inner--icon"><i class="fas fa-download"></i></span>
                    <span class="btn-inner--text">Download</span>
                </a>
            </div>
            <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <img class="ml-lg-5" src="/img/FiyiStack/FiyiStackImageTransparent.png" width="250">
            </div>
        </div>
        <div class="row align-items-center text-left">
            <div class="col-lg-5 col-12">
                <h1 class="display-3">FiyiRequirements<span class="text-primary">Create requirements, see what your users need. <strong>FREE!</strong></span></h1>
                <a href="/Downloads/FiyiRequirements.zip" download class="btn btn-success btn-icon mb-sm-0">
                    <span class="btn-inner--icon"><i class="fas fa-download"></i></span>
                    <span class="btn-inner--text">Download</span>
                </a>
            </div>
            <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <img class="ml-lg-5" src="/img/FiyiStack/Requirements.png" width="250">
            </div>
        </div>
        <div class="row align-items-center text-left">
            <div class="col-lg-5 col-12">
                <h1 class="display-3">CanariasBlog<span class="text-primary">Create your own blog <strong>FREE!</strong></span></h1>
                <a href="/Downloads/CanariasBlog.zip" download class="btn btn-success btn-icon mb-sm-0">
                    <span class="btn-inner--icon"><i class="fas fa-download"></i></span>
                    <span class="btn-inner--text">Download</span>
                </a>
            </div>
            <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <img class="ml-lg-5" src="/img/FiyiStack/CanariasBlog.png" width="250">
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col">
                <div class="alert alert-info" role="alert">
                    <strong>All aplications</strong> work in Windows operating system only.
                </div>
            </div>
        </div>
    </div>
</div>
