@page "/en/FullExample"
@model FiyiStackWeb.Areas.FiyiStack.Pages.es.FullExampleModel
@{
    Layout = "_Layout";
}
<div class="page-header">
    <div class="container">
    <div class="row align-items-center text-left">
        <div class="col-lg-5 col-12">
            <h1 class="display-3">FiyiStack<span class="text-primary">Learn with a full example made for you, only 8 steps</span></h1>     
            <p class="lead pb-4">Link to the <span class="badge badge-danger">Youtube</span> video:</p> <a href="" target="_blank"></a>        
        </div>
        <div class="col-lg-7 col-12 pl-0 d-none d-lg-inline d-xl-inline text-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1_UeKVLLhI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    </div>
</div>
<div class="section features-3 my-5" style="background-image: url('./assets/img/ill/p31.svg')">
        <div class="container">
          <div class="row text-center justify-content-center">
            <div class="col-lg-8">
              <h3 class="display-3 text-white">Learn with an example, in only 8 steps</h3>
              <p class="lead text-white">Learn how to use FiyiStack, MS SQL Server Management Studio, Visual Studio and more.</p>
            </div>
          </div>
          <div class="row row-grid mt-5">
            <div class="col-lg-12">
              <div class="info info-horizontal bg-white">
                <div class="icon icon-shape icon-shape-info rounded-circle text-white">
                  <i class="ni ni-hat-3 text-info"></i>
                </div>
                <div class="description pl-4">
                  <h5 class="title text-info">Steps to reproduce</h5>
                  <ol>
                      <li>Download an Empty project from fiyistack.com, <a href="~/en/Downloads" target="_blank">Downloads</a></li>
                      <li>Open the Visual Studio solution, EmptyProject.sln</li>
                      <li>Compile the solution and open it in Google Chrome</li>
                      <li>Open FiyiStack, create a project and connect to the database fiyistack_EmptyProject</li>
                      <li>Generate a table example</li>
                      <li>Go to Visual Studio and add the services in Startup.cs</li>
                      <li>Also, add the TypeScript files in webpack.config.js</li>
                      <li>Compile the project and re-open it in Google Chrome</li>
                      <li>¡Ready!</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>