@page "/en/Pricing"
@model FiyiStackWeb.Areas.FiyiStack.PricingModel
@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row mt-5 pt-5">
        <!-- Title -->
        <div class="col-lg-8 mx-auto text-center my-5">
            <h3 class="display-4">Choose FiyiStack the way you prefer</h3>
        </div>
    </div>
</div>
<div class="pricing-1" id="pricing-1">
    <div class="container">
        <div class="row">
            <!-- FREE TRIAL -->
            <div class="col-md-4">
                <div class="card card-pricing bg-gradient-secondary border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                        <h6 class="text-uppercase ls-1 text-dark py-3 mb-0">
                            FREE TRIAL
                        </h6>
                    </div>
                    <div class="card-body">
                        <!-- Price -->
                        <div class="display-2 text-dark">
                            $0
                        </div>
                        <!-- Features -->
                        <ul class="list-unstyled my-4">
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Complete documentation
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Chat with experts
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            20 generations allowed
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <a href="~/Register" class="btn btn-outline-default mb-3">Get Started</a>
                    </div>
                </div>
            </div>
            <!-- 5$ per month -->
            <div class="col-md-4">
                <div class="card card-pricing bg-gradient-secondary border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                        <h6 class="text-uppercase ls-1 text-dark py-3 mb-0">
                            AMATEUR
                        </h6>
                    </div>
                    <div class="card-body">
                        <!-- Price -->
                        <div class="display-2 text-dark">
                            $5
                        </div>
                        <span class=" text-dark">
                            per month
                        </span>
                        <!-- Features -->
                        <ul class="list-unstyled my-4">
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Complete documentation
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Chat with experts
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            100 generations allowed
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Support 24/7
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-outline-default mb-3">Get Started</button>
                    </div>
                </div>
            </div>
            <!-- 8$ per month -->
            <div class="col-md-4">
                <div class="card card-pricing bg-gradient-default border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                        <h6 class="text-uppercase ls-1 text-white py-3 mb-0">
                            PRO
                        </h6>
                    </div>
                    <div class="card-body">
                        <h5 class="text-muted">
                            <del>$10</del>
                        </h5>
                        <!-- Price -->
                        <div class="display-2 text-white">
                            $8
                        </div>
                        <span class=" text-white">
                            per month
                        </span>
                        <!-- Features -->
                        <ul class="list-unstyled my-4">
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-white">
                                            Complete documentation
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-white">
                                            Chat with experts
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-white">
                                            Unlimited generations
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-white">
                                            Support 24/7
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-white mb-3">Get Started</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
</div>