@page
@model FiyiStackWeb.Areas.FiyiStack.Pages.ContactMeModel
@{
    Layout = "_Layout";
}
<div class="wrapper">
    <div class="contactus-3">
        <div class="container pt-5">
            <!-- Title -->
            <div class="row mt-5 mb--4">
                <div class="col-md-12 text-center mb-5">
                    <h1 class="display-3">Got a question?</h1>
                    <h3 class="lead">I'd like to talk more about what you need</h3>
                </div>
            </div>
            <div class="row">
                <!-- Col 1 -->
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="info info-hover">
                        <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
                            <i class="ni ni-square-pin"></i>
                        </div>
                        <h4 class="info-title">Address</h4>
                        <h6 class="px-0">Córdoba, Argentina</h6>
                    </div>
                </div>
                <!-- Col 2 -->
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="info info-hover">
                        <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
                            <i class="ni ni-email-83"></i>
                        </div>
                        <h4 class="info-title">Email</h4>
                        <h6 class="px-0"><a href="mailto:novillo.matias1@gmail.com">novillo.matias1@gmail.com</a></h6>
                    </div>
                </div>
                <!-- Col 3 -->
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="info info-hover">
                        <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
                            <i class="ni ni-mobile-button"></i>
                        </div>
                        <h4 class="info-title">Phone</h4>
                        <h6 class="px-0"><a href="tel:+543512329541">(+54) 351-2329541</a></h6>
                    </div>
                </div>
                <!-- Col 4 -->
                <div class="col-lg-3 col-md-6 col-6">
                    <div class="info info-hover">
                        <div class="icon icon-shape icon-shape-primary icon-lg shadow rounded-circle text-primary">
                            <i class="ni ni-circle-08"></i>
                        </div>
                        <h4 class="info-title">Contact</h4>
                        <h6 class="px-0">Matias Alejandro Novillo</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container-fluid">
            <div class="row mt-5 mb-4 pt-5">
                <div class="col-md-8 ml-auto mr-auto text-center mt-5">
                    <!-- Title -->
                    <h1 class="display-3">Leave me a message</h1>
                    <h3 class="lead">I will answer you as soon as possible</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mx-auto ">
                    <form role="form" class="card bg-secondary p-3" id="contact-form" method="post">
                        <div class="card-body">
                            <button id="message" class="btn mb-2"></button>
                            <div class="row">
                                <!-- Name -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-signature"></i>
                                                </span>
                                            </div>
                                            <input id="name" type="text" class="form-control" placeholder="Name" aria-label="Name">
                                        </div>
                                    </div>
                                </div>
                                <!-- Surname -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-signature"></i>
                                                </span>
                                            </div>
                                            <input id="surname" type="text" class="form-control" placeholder="Surname" aria-label="Surname">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Email -->
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="ni ni-email-83"></i>
                                        </span>
                                    </div>
                                    <input id="email" type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <!-- TextArea -->
                            <div class="form-group">
                                <textarea id="textarea-message" placeholder="Text me..." class="form-control form-control-alternative" rows="6"></textarea>
                            </div>
                            <!-- Button -->
                            <div class="row">
                                <div class="col-md-6 ml-auto">
                                    <button id="send-message" class="btn btn-primary pull-right">
                                        <i class="ni ni-email-83"></i> Send message
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.6.1.min.js"></script>
<script src="/js/FiyiStack/ContactMe.js"></script>