@page
@model FiyiStackWeb.Areas.FiyiStack.Products.Pages.FiyiStackAppModel
@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row mt-5">
        <!-- Title -->
        <div class="col-lg-8 mx-auto text-center my-5">
            <h3 class="display-4">FiyiStackApp</h3>
            <h5>The code generator</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
    <div class="col mr-auto text-left mt-4">
        <div class="card bg-default">
            <div class="card-body">
                <h5 class="card-title text-white">Table of contents</h5>
                <div class="row">
                    <div class="col-8">
                        <ol class="text-white">
                            <li class="mt-2"><a class="text-white" href="#1">Login form</a></li>
                            <li class="mt-2"><a class="text-white" href="#2">Projects form</a></li>
                        </ol>
                    </div>
                    <div class="col-4 d-none d-lg-inline d-xl-inline">
                        <img src="/img/FiyiStackImageTransparent.png" width="130" alt="Logo" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Login form -->
        <div id="1" class="card bg-default shadow border-0">
            <img src="/img/FiyiStack/FiyiStackApp-LoginForm.png" class="card-img-top">
            <blockquote class="card-blockquote">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                </svg>
                <h4 class="display-4 text-white">Login form</h4>
                <p class="lead text-italic text-white">
                  Here you enter your credentials to access the application
                </p>
            </blockquote>
        </div>
        <!-- Projects form -->
        <div id="2" class="card bg-default shadow border-0">
            <img src="/img/FiyiStack/FiyiStackApp-ProjectsForm.png" class="card-img-top">
            <blockquote class="card-blockquote">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                </svg>
                <h4 class="display-4 text-white">Projects form</h4>
                <p class="lead text-italic text-white">
                  In this form you can create or edit your projects:
                </p>
                <ol class="text-white">
                    <li class="mt-2">Here you can load your saved projects.</li>
                    <li class="mt-2">Here you can edit your new or saved project putting your project name,
                        a general history user, used to save information related to the requirements
                        of your clients, and the folder path of the project. Remember that the folder path
                        has to point to the Startup.cs file of the .NET Core project.
                    </li>
                    <li class="mt-2">This button is used to load a refreshed proyect, with all inputs in 2.
                        in blank</li>
                    <li class="mt-2">These buttons are used to delete and filter projects</li>
                </ol>
            </blockquote>
        </div>
    </div>
  </div>
</div>
