@page
@model FiyiStackWeb.Areas.FiyiStack.Products.Pages.FiyiStackAppModel
@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row mt-5">
        <!-- Title -->
        <div class="col-lg-8 mx-auto text-center my-5">
            <h3 class="display-4">FiyiStackApp</h3>
            <h5>The code generator</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
    <div class="col mr-auto text-left mt-4">
        <div class="card bg-default">
            <div class="card-body">
                <h5 class="card-title text-white">Table of contents</h5>
                <div class="row">
                    <div class="col-8">
                        <ol class="text-white">
                            <li class="mt-2"><a class="text-white" href="#1">Login form</a></li>
                            <li class="mt-2"><a class="text-white" href="#2">Project form</a></li>
                            <li class="mt-2"><a class="text-white" href="#3">Generator form</a></li>
                            <li class="mt-2"><a class="text-white" href="#4">Configuration form</a></li>
                        </ol>
                    </div>
                    <div class="col-4 d-none d-lg-inline d-xl-inline">
                        <img src="/img/FiyiStackImageTransparent.png" width="130" alt="Logo" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Login form -->
        <div id="1" class="card bg-default shadow border-0">
            <img src="/img/FiyiStack/FiyiStackApp-LoginForm.png" class="card-img-top">
            <blockquote class="card-blockquote">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                </svg>
                <h4 class="display-4 text-white">Login form</h4>
                <p class="lead text-italic text-white">
                  Here you enter your credentials to access the application.
                </p>
            </blockquote>
        </div>
        <!-- Project form -->
        <div id="2" class="card bg-default shadow border-0">
            <img src="/img/FiyiStack/FiyiStackApp-ProjectsForm.png" class="card-img-top">
            <blockquote class="card-blockquote">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                </svg>
                <h4 class="display-4 text-white">Project form</h4>
                <p class="lead text-italic text-white">
                  In this form you can create or edit your projects.
                </p>
                <ol class="text-white">
                    <li class="mt-2">Here you can load your saved projects.</li>
                    <li class="mt-2">Here you can edit your new or saved project putting your project name,
                        a general history user, used to save information related to the requirements
                        of your clients, and the folder path of the project. Remember that <u>the folder path
                        has to point to the Startup.cs file of the project</u>.
                    </li>
                    <li class="mt-2">This button is used to load a refreshed proyect, with all inputs in 2.
                        in blank.
                    </li>
                    <li class="mt-2">These buttons are used to delete and filter projects.</li>
                </ol>
            </blockquote>
        </div>
        <!-- Generator form -->
        <div id="3" class="card bg-default shadow border-0">
            <img src="/img/FiyiStack/FiyiStackApp-GeneratorForm.gif" class="card-img-top">
            <blockquote class="card-blockquote">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                </svg>
                <h4 class="display-4 text-white">Generator form</h4>
                <p class="lead text-italic text-white">
                  Here is the main part of the generator.
                </p>
                <ol class="text-white">
                    <li class="mt-2">Here there are 3 parts, the <u>databases</u>, their <u>tables</u>, and the 
                        <u>columns</u> of each table. You can navigate between each of them to see each of the
                        contents. For example, selecting the Databases option displays a list of databases 
                        (2) and their corresponding information (3) on the right.
                    </li>
                    <li class="mt-2">Here the project databases are displayed. You can add what you want.</li>
                    <li class="mt-2">Here the information of each database appears. The <u>Name</u>, the option
                        if it is <u>Microsoft SQL Server</u> (only option at the moment), and the
                        <u>Connection string</u>. As you can see, the database is local because the data
                        source is a dot (.).
                    </li>
                    <li class="mt-2">These buttons are for delete the selected databases and add 
                        a new database.</li>
                    <li class="mt-2">This button is to enter the generator configuration.</li>
                    <li class="mt-2">This button is to generate the selected tables (7).</li>
                    <li class="mt-2">Here is a list of the tables corresponding to the selected database. 
                        As you can see, each table has a schema in the database as <u>dbo</u>, an area as
                        <u>BasicCore</u> and the name of the table as <u>Failure</u>: 
                        <u>[dbo].[BasicCore.Failure]</u>, to give an example.
                    </li>
                    <li class="mt-2">Here are the data of a selected table. For example, if I select
                        <u>[dbo].[BasicCore.Failure]</u>, the table <u>Name</u> will be Failure, the 
                        <u>Database Scheme</u> will be dbo, and the <u>Area</u> will be BasicCore. You can also
                        add the <u>Version</u> to be able to have different versions of the table, I, for example,
                        put 1. There are two things to keep in mind, the first is that there are several types
                        of schemas in the databases, <u>the one that is recommended is dbo (database owner)</u>.
                        The second consideration is to place a name, an area and a version without spaces or
                        special characters, just text and numbers.
                    </li>
                    <li class="mt-2">These buttons are for removing selected tables, selecting all tables, 
                        and for adding a new table.
                    </li>
                    <li class="mt-2">Once you select a table you can go to the Columns tab to add the columns
                        of the selected table, they will be displayed in the list of columns.
                    </li>
                    <li class="mt-2">Here the configuration of each column is shown. If I select the Message
                        column, it will show Message as a <u>Name</u>, the <u>Nullable</u> option indicating whether the
                        column allows null values or not, a <u>History user</u> indicating what the column is for,
                        and a <u>Data type</u> (13). For example, Message has the data type Text: TextArea,
                        this option displays other options to the right, the minimum and maximum number of
                        characters that the column allows, and also a regular expression, Regex, to filter
                        which characters are allowed by the column.
                    </li>
                    <li class="mt-2">These buttons are for removing columns, selecting all columns, 
                        and for adding a new column.
                    </li>
                    <li class="mt-2">This dropdown option allows you to add columns with different data types, for example,
                        you can add:
                        <ul>
                            <li class="mt-2">Boolean</li>
                            <li class="mt-2">Date and time</li>
                            <li class="mt-2">Decimal</li>
                            <li class="mt-2">Foreign keys with dropdowns</li>
                            <li class="mt-2">Foreign keys with options</li>
                            <li class="mt-2">Integers</li>
                            <li class="mt-2">Primary Key</li>
                            <li class="mt-2">Text: Basic</li>
                            <li class="mt-2">Text: Email</li>
                            <li class="mt-2">Text: File</li>
                            <li class="mt-2">Text: Hex colour</li>
                            <li class="mt-2">Text: Password</li>
                            <li class="mt-2">Text: Phone number</li>
                            <li class="mt-2">Text: Tag</li>
                            <li class="mt-2">Text: Text Area</li>
                            <li class="mt-2">Text: Text Editor</li>
                            <li class="mt-2">Text: URL</li>
                            <li class="mt-2">Time</li>
                        </ul>
                    </li>
                </ol>
            </blockquote>
        </div>
        <!-- Configuration form -->
        <div id="4" class="card bg-default shadow border-0">
            <img src="/img/FiyiStack/FiyiStackApp-ConfigurationForm.gif" class="card-img-top">
            <blockquote class="card-blockquote">
                <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                    <polygon points="0,52 583,95 0,95" class="fill-default"></polygon>
                    <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default"></polygon>
                </svg>
                <h4 class="display-4 text-white">Configuration form</h4>
                <p class="lead text-italic text-white">
                  Here you can configure the generator
                </p>
                <ol class="text-white">
                    <li class="mt-2">Here there are 3 options to configure the generator, the first is about
                        the <u>database</u>, the second is the <u>paths</u> of the files, and the third is 
                        the <u>interface</u> with which we generate.
                    </li>
                    <li class="mt-2">This edit button is to save the selected configuration.</li>
                    <li class="mt-2">With this button you can create the necessary files and folders 
                        for the project:
                        <ul>
                            <li class="mt-2">File: <u>Startup.cs</u>. This file is in charge of starting your project,
                                it loads the configurations and services necessary for your project to work.</li>
                            <li class="mt-2">File: <u>package.json</u>. This file works in conjunction with the 
                                Node.js package manager (npm), it is mainly used to install and manage 
                                external Node.js modules. It also contains the necessary commands to execute
                                while the web application is being developed.</li>
                            <li class="mt-2">File: <u>tsconfig.json</u>. This file indicates that the project works
                                with TypeScript. All the necessary information for the TypeScript compiler
                                is stored here.</li>
                            <li class="mt-2">File: <u>webpack.config.js</u>. This JavaScript code file contains the
                                necessary configuration for you to work with the WebPack module wrapper.</li>
                            <li class="mt-2">File: <u>Webpack.config.vendor.js</u>. This JavaScript configuration
                                file is similar to the previous one, but it differs in that it contains
                                the necessary vendor modules such as Bootstrap, jQuery, Backbone and
                                FontAwesome</li>
                            <li class="mt-2">Folders: <u>Uploads, PDFFiles, ExcelFiles and CSVFiles</u></li>
                        </ul>
                    </li>
                    <li class="mt-2">These checkboxes belong to the Databases tab. Here you can define if
                        you want to add the <u>audit columns as Active, DateTimeCreation, DateTimeLastModification,
                        UserCreationId and UserLastModificationId</u>. You can also define if you want to <u>remove
                        existing tables, fields and stored procedures</u> during generation in the database.</li>
                    <li class="mt-2">This list contains the checkboxes to define what you want to generate in 
                        the <u>back-end</u>
                    </li>
                    <li class="mt-2">This list contains the checkboxes to define what you want to generate in 
                        the <u>front-end</u>
                    </li>
                    <li class="mt-2">Here you can define if you want to <u>remove existing files</u> during generation
                        of front-end and back-end files.
                    </li>
                    <li class="mt-2">This dropdown define the templates used in the HTML and CSS files. 
                        For the moment you can choose one, <u>Argon design (from Creative-Tim)</u>.
                    </li>
                </ol>
            </blockquote>
        </div>
    </div>
  </div>
</div>
