@page "/LearnMore"
@model FiyiStackWeb.Areas.FiyiStack.Pages.LearnMoreModel
@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row mt-5">
        <!-- Title -->
        <div class="col-lg-8 mx-auto text-center my-5">
            <h3 class="display-4">Learn more</h3>
            <h5>About FiyiStack and RAD tools</h5>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">Table of contents</h5>
                    <div class="row">
                        <div class="col-8">
                            <ol>
                                <li class="mt-2"><a href="#1">What is FiyiStack?</a></li>
                                <li class="mt-2"><a href="#2">What is a RAD tool?</a></li>
                                <li class="mt-2"><a href="#3">What generates FiyiStack?</a></li>
                                <li class="mt-2"><a href="#4">The languages that FiyiStack works with</a></li>
                                <li class="mt-2"><a href="#5">The frameworks that FiyiStack works with</a></li>
                                <li class="mt-2"><a href="#6">The libraries that FiyiStack works with</a></li>
                            </ol>
                        </div>
                        <div class="col-4 d-none d-lg-inline d-xl-inline">
                            <img src="/img/FiyiStack/FiyiStackImageTransparent.png" width="130" alt="Logo" />
                        </div>
                    </div>
              </div>
            </div>
            <div class="card bg-secondary" id="1">
                <div class="card-body">
                    <h5 class="card-title">1. What is FiyiStack?</h5>
                    <p>
                        FiyiStack is a <span class="badge badge-success">low-code generator</span> that allows you to 
                        create a table, belonging to a database, and convert it into code to be manipulated by a web application. 
                        If you enter 10 columns of a table, FiyiStack 
                        converts them to <span class="badge badge-success">~5,000 lines of code</span>. 
                        Thanks to this, you can write code faster and more securely. 
                        But this is not new, FiyiStack belongs to the range of programming tools as are the RAD tools. 
                        But, what is a RAD tool?
                    </p>
              </div>
            </div>
            <div class="card bg-secondary" id="2">
                <div class="card-body">
                    <h5 class="card-title">2. What is a RAD tool?</h5>
                    <p>A RAD tool is a programming tool capable of <span class="badge badge-success">speeding up software development</span>. It's basic qualities are:</p> 
                    <ul>
                        <li class="mt-2">Rapid development and delivery with 
                            <span class="badge badge-success">high quality</span> for a low
                            investment cost system.</li>
                        <li class="mt-2">Reduce the risks of mistyping by developers, breaking the code into small fragments
                            to <span class="badge badge-success">provide easier change</span> during the development process.</li>
                        <li class="mt-2">Iteration and reuse of prototypes and templates.</li>
                        <li class="mt-2">Promotes the co-participation of clients with the development team.</li>
                        <li class="mt-2">It includes GUI builders, database builders, third and fourth generation languages,
                            and object-oriented techniques.</li>
                        <li class="mt-2">It emphasizes the <span class="badge badge-success">fulfillment of the requirements</span>
                            by the users.
                        </li>
                        <li class="mt-2">Development of priorities and definitions of delivery deadlines.</li>
                        <li class="mt-2">Produces the necessary documentation to facilitate future
                            development and maintenance.</li>
                    </ul>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                        <span class="alert-inner--text">FiyiStack meets these qualities</span>
                    </div>
              </div>
            </div>
            <div class="card bg-secondary" id="3">
                <img class="card-img-top" src="/img/FiyiStack/Stack.png" alt="Stack">
                <div class="card-body">
                    <h5 class="card-title">3. What generates FiyiStack?</h5>
                    <p> 
                        A web application is composed of <span class="badge badge-success">3 main layers</span>. Front-end, back-end and
                        database. FiyiStack generates the 3 layers:
                    </p>
                    <p><span class="badge badge-success">Database</span></p>
                    <ul>
                        <li class="mt-2"><u>Tables with columns</u> to store the data of your web application.</li>
                        <li class="mt-2"><u>Stored procedures</u> to communicate the tables with the back-end 
                            through functions stored in the database.</li>
                    </ul>
                    <p><span class="badge badge-success">Back-end</span></p>
                    <ul>
                        <li class="mt-2"><u>C# models</u> which are C# classes. They contain the columns of each table
                            but in the form of C# properties. It also contains the functions that
                            communicate with the stored procedures of each table.</li>
                        <li class="mt-2"><u>C# services</u> which are C# classes. These classes are dedicated to the
                            user's business. Here, accesses to C# models are processed, emails are sent,
                            third-party APIs are connected and more.</li>
                        <li class="mt-2"><u>C# protocols/interfaces</u>. These interfaces are the connection between the
                            Web API's of the application with the C# services.</li>
                        <li class="mt-2"><u>C# Web API's</u>. These are the ones in charge of intercepting the HTTP requests
                            of the users and delegating the tasks to the C# services.</li>
                        <li class="mt-2"><u>C# filters</u>. Filters in a back-end allow you to block malicious or faulty
                            requests. If an HTTP request passes the filter, it executes the corresponding
                            web API.</li>
                    </ul>
                    <p><span class="badge badge-success">Front-end</span></p>
                    <ul>
                        <li class="mt-2"><u>TypeScript models</u>. These are models which contain the names of the columns
                            stored in each table, but in property format.</li>
                        <li class="mt-2"><u>jQuery code</u>. This layer is in charge of taking the interactions by the user
                            to send or retrieve information from the API's. It also connects with
                            TypeScript models.</li>
                        <li class="mt-2"><u>Razor Pages</u>. Razor pages are responsible for giving rise to HTML, CSS and
                            JavaScript code. Every Razor page has a back-end that is only accessed if
                            the C# filters are passed.</li>
                    </ul>
                </div>
            </div>
            <div class="card bg-secondary" id="4">
                <div class="card-body">
                    <img class="card-img-top" src="/img/FiyiStack/Languages.png" alt="Languages">
                    <h5 class="card-title mt-3">4. The languages that FiyiStack works with</h5>
                    <p>FiyiStack works with <span class="badge badge-success">6 languages</span> at the moment:</p>
                    <ol>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>TypeScript</li>
                        <li>C#</li>
                        <li>T-SQL</li>
                    </ol>
                     <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <span class="alert-inner--icon"><i class="ni ni-bell-55"></i></span>
                        <span class="alert-inner--text">New languages will be added later</span>
                    </div>
              </div>
            </div>
            <div class="card bg-secondary" id="5">
                <div class="card-body">
                    <h5 class="card-title mt-3">5. The frameworks that FiyiStack works with</h5>
                    <p>FiyiStack works with <span class="badge badge-success">2 frameworks</span> at the moment:</p>
                    <ol>
                        <li>.NET Core 3.1</li>
                        <li>Node.js 16.15.0</li>
                    </ol>
                     <div class="alert alert-info alert-dismissible fade show" role="alert">
                        <span class="alert-inner--icon"><i class="ni ni-bell-55"></i></span>
                        <span class="alert-inner--text">New frameworks will be added later</span>
                    </div>
              </div>
            </div>
            <div class="card bg-secondary" id="6">
                <div class="card-body">
                    <h5 class="card-title">6. The libraries that FiyiStack works with</h5>
                    <h6 class="card-title">Divided by generators</h6>
                    <p><u>JavaScript + TypeScript + C# .NET Core 3.1 + MS SQL Server</u></p>
                    <ol>
                        <li class="mt-2">@@types/jqueryui</li>
                        <li class="mt-2">@@types/node</li>
                        <li class="mt-2">@@types/plotly.js</li>
                        <li class="mt-2">bootstrap-notify</li>
                        <li class="mt-2">jquery-ui</li>
                        <li class="mt-2">list.js</li>
                        <li class="mt-2">plotly.js</li>
                        <li class="mt-2">quill</li>
                        <li class="mt-2">@@babel/core</li>
                        <li class="mt-2">@@babel/preset-env</li>
                        <li class="mt-2">@@morbidick/bootstrap</li>
                        <li class="mt-2">@@types/backbone</li>
                        <li class="mt-2">@@types/jquery</li>
                        <li class="mt-2">@@types/navigo</li>
                        <li class="mt-2">aspnet-webpack</li>
                        <li class="mt-2">awesome-typescript-loader</li>
                        <li class="mt-2">backbone</li>
                        <li class="mt-2">bootstrap</li>
                        <li class="mt-2">css-loader</li>
                        <li class="mt-2">file-loader</li>
                        <li class="mt-2">font-awesome</li>
                        <li class="mt-2">glob</li>
                        <li class="mt-2">html-webpack-plugin</li>
                        <li class="mt-2">jquery</li>
                        <li class="mt-2">mini-css-extract-plugin</li>
                        <li class="mt-2">navigo</li>
                        <li class="mt-2">optimize-css-assets-webpack-plugin</li>
                        <li class="mt-2">path</li>
                        <li class="mt-2">popper.js</li>
                        <li class="mt-2">raw-loader</li>
                        <li class="mt-2">rxjs</li>
                        <li class="mt-2">rxjs-webworker</li>
                        <li class="mt-2">style-loader</li>
                        <li class="mt-2">terser-webpack-plugin</li>
                        <li class="mt-2">typescript</li>
                        <li class="mt-2">url-loader</li>
                        <li class="mt-2">webpack</li>
                        <li class="mt-2">webpack-cli</li>
                        <li class="mt-2">webpack-dev-middleware</li>
                        <li class="mt-2">webpack-hot-middleware</li>
                        <li class="mt-2">nucleo</li>
                        <li class="mt-2">notify.js</li>
                        <li class="mt-2">datatables.net</li>
                        <li class="mt-2">select2</li>
                        <li class="mt-2">animate.css</li>
                        <li class="mt-2">argon.css</li>
                        <li class="mt-2">argon-design-system.css</li>
                        <li class="mt-2">js-cookie</li>
                        <li class="mt-2">jquery.scrollbar</li>
                        <li class="mt-2">jquery-scroll-lock</li>
                        <li class="mt-2">bootstrap-datepicker</li>
                        <li class="mt-2">bootstrap-tagsinput</li>
                        <li class="mt-2">bootstrap-notify</li>
                        <li class="mt-2">ClosedXML</li>
                        <li class="mt-2">Dapper</li>
                        <li class="mt-2">IronPdf</li>
                        <li class="mt-2">Microsoft.Data.SqlClient</li>
                        <li class="mt-2">Newtonsoft</li>
                        <li class="mt-2">CsvHelper</li>
                        <li class="mt-2">SixLabors</li>
                    </ol>
                    <p><u>JavaScript + Node.js + Express.js + MS SQL Server</u></p>
                    <ol>
                        <li class="mt-2">cors</li>
                        <li class="mt-2">dotenv</li>
                        <li class="mt-2">express</li>
                        <li class="mt-2">morgan</li>
                        <li class="mt-2">mssql</li>
                        <li class="mt-2">@@babel/cli</li>
                        <li class="mt-2">@@babel/core</li>
                        <li class="mt-2">@@babel/node</li>
                        <li class="mt-2">@@babel/preset-env</li>
                        <li class="mt-2">nodemon</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>