@page
@model FiyiStackWeb.Areas.FiyiStack.PricingModel
@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row mt-5">
        <!-- Title -->
        <div class="col-lg-8 mx-auto text-center my-5">
            <h3 class="display-4">Choose your products the way you prefer</h3>
            <h5>And remember, pay only once!</h5>
        </div>
    </div>
</div>
<div class="pricing-1" id="pricing-1">
    <div class="container">
        <div class="row">
            <!-- FiyiRequirements -->
            <div class="col-md-4">
                <div class="card card-pricing bg-gradient-secondary border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                        <h6 class="text-uppercase ls-1 text-dark py-3 mb-0">
                            FiyiRequirements
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="display-2 text-dark">
                            $499
                        </div>
                        <span class=" text-dark">
                            pay only once
                        </span>
                        <ul class="list-unstyled my-4">
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Complete documentation
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Full commented code
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Support 24/7
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-outline-default mb-3">Get Started</button>
                    </div>
                    <div class="card-footer bg-transparent text-left">
                        <strong class="text-dark">Pay now and get your first web application!</strong>
                    </div>
                </div>
            </div>
            <!-- FiyiStackApp -->
            <div class="col-md-4">
                <div class="card card-pricing bg-gradient-secondary border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                        <h6 class="text-uppercase ls-1 text-dark py-3 mb-0">
                            FiyiStackApp
                        </h6>
                    </div>
                    <div class="card-body">
                        <div class="display-2 text-dark">
                            $799
                        </div>
                        <span class=" text-dark">
                            pay only once
                        </span>
                        <ul class="list-unstyled my-4">
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Complete documentation
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Full commented code
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Unlimited generations
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-dark">
                                            Support 24/7
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-outline-default mb-3">Get Started</button>
                    </div>
                    <div class="card-footer bg-transparent text-left">
                        <strong class="text-dark">Pay now and get a software factory!</strong>
                    </div>
                </div>
            </div>
            <!-- FiyiRequirements and FiyiStackApp -->
            <div class="col-md-4">
                <div class="card card-pricing bg-gradient-default border-0 text-center mb-4" style="background-image: url('./assets/img/">
                    <div class="card-header bg-transparent">
                        <h6 class="text-uppercase ls-1 text-white py-3 mb-0">
                            FiyiRequirements + FiyiStackApp
                        </h6>
                    </div>
                    <div class="card-body">
                        <h5 class="text-muted">
                            <del>$1298</del>
                        </h5>
                        <div class="display-2 text-white">
                            $999
                        </div>
                        <span class=" text-white">
                            pay only once
                        </span>
                        <ul class="list-unstyled my-4">
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-white">
                                            Complete documentation
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-white">
                                            Full commented code
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-white">
                                            Unlimited generations
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-sm icon-shape bg-white shadow rounded-circle text-dark">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="pl-2 text-sm text-white">
                                            Support 24/7
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-white mb-3">Get Started</button>
                    </div>
                    <div class="card-footer bg-transparent text-left">
                        <strong class="text-white">Your best choice!</strong>
                    </div>
                </div>
            </div>
          </div>
        </div>
</div>